ROOCH_PRIVATE_KEY="" # for Rooch authentication
ROOCH_CHAIN_ID="testnet"
ROOCH_ORACLE_ADDRESS="0x0000000000000000000000000000000000000000"
ROOCH_INDEXER_CRON="*/5 * * * * *"

APTOS_CHAIN_ID="testnet"
APTOS_ORACLE_ADDRESS=""
APTOS_INDEXER_CRON="*/5 * * * * *"
APTOS_PRIVATE_KEY=""

DATABASE_URL="file:./.db"
X_API_KEY=""
X_API_SECRET=""

# Docker postgres config
POSTGRES_USER=user
POSTGRES_DB=xxxxxxxxx
POSTGRES_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\

# Prisma postgres config
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_db:5432/${POSTGRES_DB}

# Prisma sqlite config for dev
DATABASE_URL=file:./temp.db


# Optionals
SENTRY_DSN=""
ECDSA_PRIVATE_KEY="" # for verity analysis.
